grant {
	// allows anyone to listen on un-privileged ports
	permission java.net.SocketPermission "*:1024-65535", "listen,accept,connect";
	permission java.io.FilePermission "/net/-", "read"; 
	permission java.util.logging.LoggingPermission "control";  
};
